head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/css/all.min.css')
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    link(rel='shortcut icon' href='https://laz-img-cdn.alicdn.com/tfs/TB1ODo.f2b2gK0jSZK9XXaEgFXa-64-64.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli&display=swap')